.carouselCards-plan {
    display: flex;
    padding: 25px;
    width: 100%;
    overflow: auto;

}

.plan-hotel, .plan-hotel-confirmation {min-width:100%;
     position: relative;
     border-radius: 12px;
     border:none;
     box-shadow: 5px 10px 20px #ccc;
     margin-right: 20px
     ;}

.card-img {border-radius: 12px 12px 0 0;}

.plan-hotel .exercise-title {
    position: absolute;
    top: 34%;
    left: 13px;
    font-size: 15px;
}

.plan-hotel-confirmation .exercise-title-confirmation {position: absolute;
    top: 48%;
    left: 13px;
    font-size: 15px;
}

.plan-hotel .exercise-subtitle, .plan-hotel .exercise-text {font-size: 13px;}

.boton-ejercicio {
    background: -moz-linear-gradient(325deg, rgba(236,159,255,1) 0%, rgba(117,195,255,1) 50%, rgba(69,198,200,1) 100%);
    background: -webkit-linear-gradient(325deg, rgba(236,159,255,1) 0%, rgba(117,195,255,1) 50%, rgba(69,198,200,1) 100%);
    background: linear-gradient(325deg, rgba(236,159,255,1) 0%, rgba(117,195,255,1) 50%, rgba(69,198,200,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ec9fff",endColorstr="#45c6c8",GradientType=1); color:#fff;border-radius: 6px;border:none;

}

.boton-ejercicio-confirmar {background: -moz-linear-gradient(325deg, rgba(236,159,255,1) 0%, rgba(117,195,255,1) 50%, rgba(69,198,200,1) 100%);
    background: -webkit-linear-gradient(325deg, rgba(236,159,255,1) 0%, rgba(117,195,255,1) 50%, rgba(69,198,200,1) 100%);
    background: linear-gradient(325deg, rgba(236,159,255,1) 0%, rgba(117,195,255,1) 50%, rgba(69,198,200,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ec9fff",endColorstr="#45c6c8",GradientType=1); color:#fff;border-radius: 6px;border:none;
font-size:16px;font-weight:bold}

.boton-volver, .boton-volver-customize {background: #75c3ff;margin-top:25px; border: none;font-weight:bold; width:100%}
.boton-volver:hover, .boton-volver-customize:hover {background: #75c3ff;margin-top:25px; border: none;}
