.video-ejercicio {border-radius:12px;box-shadow: 5px 10px 20px #ccc;}

.tiempo-ejercicio, .detalles-ejercicio {
    border-radius:12px;
    font-size: 14px;
    box-shadow: 5px 10px 20px #ccc;
    padding:15px}

.boton-lista button{
    background: #75c3ff;
    padding:10px 50px;
    border: none;
    border-radius: 12px;
    box-shadow: 5px 10px 30px #ccc;
}

.boton-next button{
    background: 
    #45c6c8
    ;
    padding:10px 30px;
    border: none;
    border-radius: 12px;
    box-shadow: 5px 10px 30px #ccc;
}
.boton-lista button a, .boton-next button a{color:#fff;font-weight:bold}



