.video-ejercicio {border-radius:12px;box-shadow: 5px 10px 20px #ccc;}

.tiempo-ejercicio, .detalles-ejercicio {
    border-radius:12px;
    font-size: 14px;
    box-shadow: 5px 10px 20px #ccc;
    padding:15px}

.boton-lista button{
    background: #75c3ff;
    padding:10px 50px;
    border: none;
    border-radius: 12px;
    box-shadow: 5px 10px 30px #ccc;
}

.boton-next button{
    background: 
    #45c6c8
    ;
    padding:10px 30px;
    border: none;
    border-radius: 12px;
    box-shadow: 5px 10px 30px #ccc;
}
.boton-lista button a, .boton-next button a{color:#fff;font-weight:bold}


/* CSS CRONOMETRO */
.timer-area {background: -moz-linear-gradient(325deg, rgba(236,159,255,1) 0%, rgba(117,195,255,1) 50%, rgba(69,198,200,1) 100%);
    background: -webkit-linear-gradient(325deg, rgba(236,159,255,1) 0%, rgba(117,195,255,1) 50%, rgba(69,198,200,1) 100%);
    background: linear-gradient(325deg, rgba(236,159,255,1) 0%, rgba(117,195,255,1) 50%, rgba(69,198,200,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ec9fff",endColorstr="#45c6c8",GradientType=1);
    color:#fff;
    border-radius: 12px 12px 12px 12px
    ;border:none;
    box-shadow: 5px 10px 20px #ccc;
  padding:15px 10px}
  
  .timer {
      margin: 0 auto;
      padding-top: 7px;
    p{font-size: 25px;margin:0} }
    
  
  .buttons button {border-radius: 12px;
    border:3px solid #fff;
    background: transparent;
    color:#fff;padding:10px;float: right;font-weight: bold;
    }

