* {font-family:'Montserrat', sans-serif
}
* a {text-decoration: none;}

.navbar {position:fixed;
    bottom:0;
    width:100%;
    box-shadow:10px 0 30px #ccc;
    border-radius: 30px 30px 0 0;
    font-size:20px; z-index:999}

.navbar a:focus-visible, .navbar a:active, .navbar a:focus, .navbar a:hover {color:#75c3ff;}

@media only screen 
and (min-device-width: 767px) 
and (-webkit-min-device-pixel-ratio: 1) {
    .escritorio {width: 1024px;margin: 0 auto;padding-top:4%!important}
    .navbar-expand-sm {
        justify-content: center;
    }
 
    .bloque-inicio, .bloque-login {padding-top: 12%;}
    .plan-hotel {
        min-width: 45%!important;}
        .plan-hotel .exercise-title {
            position: absolute;
            top: 56%!important;}
    .plan-hotel-confirmation {
        min-width:45%!important;
        max-width: 45%!important;
    margin-left:25%}
    .personal-plan {min-width:30%!important}
    .covid-protocol {width:50%;margin: 0 auto!important}
    .boton-volver {width:45%!important;margin-left:25%}
    .boton-volver-customize{width:45%!important}
    .titulo-plan-confirmation {margin-left:25%}
    .insignia-profile {width:40px}

}