.card-text {font-size: 13px}

.covid-protocol {border-radius: 12px
    ;border:none!important;
    box-shadow: 5px 10px 20px #ccc;}

.boton-contacto {background: -moz-linear-gradient(325deg, rgba(236,159,255,1) 0%, rgba(117,195,255,1) 50%, rgba(69,198,200,1) 100%)!important;
    background: -webkit-linear-gradient(325deg, rgba(236,159,255,1) 0%, rgba(117,195,255,1) 50%, rgba(69,198,200,1) 100%)!important;
    background: linear-gradient(325deg, rgba(236,159,255,1) 0%, rgba(117,195,255,1) 50%, rgba(69,198,200,1) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ec9fff",endColorstr="#45c6c8",GradientType=1)!important;
    color: white;
    border-radius: 6px;border:none;box-shadow: 5px 10px 20px #ccc;}

.card-img-top {border-radius: 12px 12px 0 0;}