.navbar {display:none}
.footer {display:none}
.inicio {background: url(../../../docs/assets/test-fondo-inicio2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30%!important; }

.button-inicio {
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(12px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.1);
    box-shadow: 10px 10px 50px 1px #000;
    /*position: absolute;
    bottom: 10%;
    left:13%*/
}

.button-inicio:hover {
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(12px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.1);
    box-shadow: 10px 10px 40px 1px #000;
}

.titulo {
    font-size: 46px;
}

.subtitulo {
    font-size: 20px;
}

.timer {
    margin: 0 auto;
    height: 100px;
    width: 100px;
    margin-bottom: 40px;}

.blob {
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse-black 1s infinite;
}

.blob.red {
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    animation: pulse-red 1s infinite;
}
  
@keyframes pulse-red {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
  }